<div class="form">
  <h3 class="color: white">leave no link ungroomed</h3>

  <% @links.each do |link| %>
  <p>
    <%= link_to 'https://damp-falls-24772/' + link.new_url, link_path(:id => link.new_url ) %> => <%= link.given_url %>
  </p>
  <% end %>
  <%= link_to "Makeover a new URL", new_link_path %>
</div>
