<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">
      <h2> Lets Make Some Urls </h2>
    </a>
  </nav>
</header>
<%= yield %>
</body>
</html>
